/*******************************

SECTION POSTS AND CHILDS

*******************************/
section.container-posts
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;	
}

article[class^=post]
{
	width: 31%;
	background-color: #C8D4EC;
	padding: 1rem;
	margin-bottom: 2rem;
	border-top: 6px solid #fed136;
	border-radius: 2px;
	box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.1);
}

article[class^=post]:hover
{
	/* transform: scale(1.1) 0.3s; */
	transition: scale(1.1) 0.3s;
}

.post-connexion:hover
{
	/* font-size: 1.125rem; */
	width: 62%;
	transition: width 0.3s;
	/* transform: all 0.3s; */
}
