article.post
{
	background-color: #C8D4EC;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin-bottom: 2rem;
	border-top: 6px solid #fed136;
	border-radius: 2px;
	box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.1);
}

.container-comments
{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.comment-info--span
{
	font-style: italic;
}

.comment--div
{
	background-color: #C8D4EC;
	margin-bottom: 1rem;
	border-radius: 2px;
	width: 80%;
}
